# Mac file
.DS_Store

# Idea file
*.iml
.idea

# Java file
/target

#JS file
/src/main/webdev/src/app.min.js
/src/main/webdev/src/app.min.js.map
/src/main/webdev/src/app.min.css
/src/main/webdev/src/default.html

# Node
/src/main/webdev/node_modules
/src/main/webdev/npm-debug.log