<!-- 高德地图 -->
<div id="container"></div>

<!-- 开始按钮/当前时间 -->
<div id="time">
    <span ng-click="stop(flag)" ng-class="flag === '开始' ? 'btnActive mouse' : 'btn mouse'">{{flag}}</span>
    <p ng-bind="timeRange"></p>
</div>

<!-- 图例 -->
<div id="legendType">
    <ul ng-repeat="item in colorMap">
        <li ng-style="{'color':'{{item.color}}'}" ng-click="showContent(item.name)">{{item.name}}</li>
    </ul>
</div>

<!-- 底部折线图 -->
<div id="area-stack"></div>

<!-- 短信内容 -->
<div id="content" ng-if="show">
    <p ng-click="close()" class="mouse">Close </p>
    <p class="item" ng-repeat="item in records">
        <span ng-style="{'color':'{{(colorMap[item.type]).color}}'}">{{item.num}}</span>
        <span ng-style="{'color':'{{(colorMap[item.type]).color}}'}">{{item.content}}</span>
    </p>
</div>